@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Redressed:regular);
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Regular"),local("SFProDisplay-Regular"),url(../../fonts/SFProDisplay-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"),local("SFProDisplay-Bold"),url(../../fonts/SFProDisplay-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Semibold"),local("SFProDisplay-Semibold"),url(../../fonts/SFProDisplay-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Inter;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,0) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  min-height: 14.75rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  background: #2a2744;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 16px
}
.lock .popup__content {
  visibility: visible
}
.popup__link {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding-right: 2.5rem;
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -.38px
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.cn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 62.5rem;
  border: .25rem solid #000;
  background: linear-gradient(180deg,#fff 0,#fffcab 140.1%);
  box-shadow: 0 0 .25rem 0 rgba(0,0,0,.25) inset;
  padding-left: 1.25rem;
  position: relative
}
.cn::before {
  content: "CA";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.25rem;
  border: .25rem solid #000;
  background: linear-gradient(0deg,#ff1c1c 0,#ff1c1c 100%),#fdfaf2;
  box-shadow: .125rem -7.75rem 0 0 rgba(253,160,48,.11) inset;
  padding: .75rem 1.25rem;
  color: #fff5df;
  text-align: center;
  font-weight: 700;
  line-height: 1.01;
  font-size: .625em;
  -webkit-transform: translate(1.5625rem,-70%);
  transform: translate(1.5625rem,-70%)
}
.cn:has(.cn__button:hover) span {
  color: #ff1c1c
}
.cn__address {
  color: #000;
  text-align: center;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  transition: color .2s;
  will-change: color
}
.cn__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  z-index: 5;
  width: 3.8125rem
}
.cn__button::before {
  content: "";
  position: absolute;
  width: calc(100% + .5rem);
  height: calc(100% + .5rem);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: url(../img/buy/num-dec.webp) center/cover no-repeat;
  z-index: -1
}
.cn__button svg {
  width: 1.6875rem
}
.cn__button svg path {
  fill: #000;
  will-change: fill;
  transition: fill .2s
}
.cn__hint {
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  padding: .9375rem 1.25rem .625rem 1.25rem;
  z-index: 100;
  border-radius: .5rem;
  white-space: nowrap;
  pointer-events: none;
  -webkit-transform: translate(-50%,-100%) scale(.5);
  transform: translate(-50%,-100%) scale(.5);
  opacity: 0;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  color: #fff;
  font-size: 70%
}
.cn__hint,
.cn__hint::after {
  background-color: #ee4e0a
}
.cn__hint::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%,90%);
  transform: translate(-50%,90%);
  width: 12%;
  aspect-ratio: 1/.55;
  clip-path: polygon(50% 100%,0 0,100% 0)
}
.active .cn__hint {
  -webkit-transform: translate(-50%,-100%) scale(1);
  transform: translate(-50%,-100%) scale(1);
  opacity: 1
}
.header__container {
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  gap: .3125rem;
  align-items: center;
  justify-content: space-between
}
.header__back {
  flex: 0 0 15%;
  justify-content: flex-start;
  color: #007aff;
  font-size: 1.0625rem;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  align-self: center;
  gap: .1875rem
}
.header__back::before {
  content: "";
  display: inline-block;
  background: url(../img/sl.svg) center/contain no-repeat;
  width: 17px;
  height: 22px
}
.header__info {
  text-align: center;
  flex: 0 1 70%;
  font-family: "SF Pro";
  font-size: 17px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -.4px
}
.header__page {
  font-weight: 600
}
.header__page--white {
  color: #fff
}
.header__label {
  font-family: Roboto;
  color: #707579;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: .1px
}
.header__more {
  justify-content: flex-end;
  display: flex;
  flex: 0 0 15%;
  color: #007aff
}
.header__image {
  aspect-ratio: 22/22;
  height: 1.375rem;
  width: 1.375rem
}
.wallet {
  background: #efeff4
}
.title {
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -.38px
}
.title--center {
  text-align: center
}
.title--margin-btm {
  margin-bottom: 2.3125rem
}
.page {
  padding-left: .9375rem;
  padding-right: .9375rem;
  padding-top: .625rem
}
.boosts,
.earn,
.invites,
.main,
.tasks {
  display: flex;
  color: #fff;
  flex-direction: column;
  background-image: linear-gradient(to bottom,#000,#020101,#040202,#050303,#070403,#1d140c,#2b1f11,#372c14,#5a471b,#7f6421,#a78226,#d0a22a)
}
.page__received {
  background: #efeff4;
  padding-top: 1.5rem
}
.received__user {
  display: flex;
  align-items: center;
  gap: .9375rem;
  flex-wrap: wrap;
  margin-bottom: .4375rem
}
.received__image {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 40/40
}
.received__name {
  display: flex;
  gap: .3125rem;
  align-items: center;
  font-family: "SF Pro Display";
  font-size: 1.0625rem;
  line-height: 129.411765%;
  letter-spacing: -.4px
}
.received__name span {
  font-weight: 600
}
.received__count {
  color: #31d158;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: .4px;
  display: flex;
  gap: .3125rem;
  align-items: center;
  font-family: "SF Pro Display";
  text-transform: uppercase
}
.received__count span {
  font-size: 3.5rem
}
.received__date {
  color: #707579;
  font-family: "SF Pro Display";
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.4px;
  margin-bottom: 1.5rem
}
.received__info {
  background-color: #fff;
  padding: .75rem 1rem;
  border-radius: 16px;
  border: 1px solid rgba(0,0,0,.0509803922)
}
.received__title {
  color: #707579;
  font-family: "SF Pro Display";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -.23px
}
.received__status {
  font-family: "SF Pro Display";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.4px
}
.main__content {
  padding-top: 5.4375rem;
  padding-bottom: 2.5625rem;
  padding-left: .9375rem;
  padding-right: .9375rem;
  flex: 1 0 auto
}
.main__title {
  color: rgba(255,255,255,.9);
  text-align: center;
  text-shadow: 2px 0 2.6px rgba(255,255,255,.3);
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -.4px;
  display: flex;
  gap: .3125rem;
  align-items: center;
  justify-content: center
}
.main__prize {
  aspect-ratio: 40/40;
  width: 2.5rem;
  height: 2.5rem
}
.main__label {
  padding-top: .9375rem;
  color: rgba(255,255,255,.9);
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,.25);
  font-family: Redressed;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -.38px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-bottom: 2.5625rem
}
.main__label::before {
  content: "";
  display: inline-block;
  background: url(../img/label-l.webp) 0 0 no-repeat;
  background-size: cover;
  width: 28px;
  height: 28px
}
.main__label::after {
  content: "";
  display: inline-block;
  background: url(../img/label-r.webp) 0 0 no-repeat;
  background-size: cover;
  width: 28px;
  height: 28px
}
.main__lg {
  width: 16.25rem;
  margin: 0 auto;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease
}
.main__lg .active {
  -webkit-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    scale: 1
  }
  50% {
    scale: 1.05;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    scale: 1
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    scale: 1
  }
  50% {
    scale: 1.05;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    scale: 1
  }
}
.main__logo {
  aspect-ratio: 260/260
}
.main__boost {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-left: .9375rem;
  padding-right: .9375rem;
  margin-bottom: .8125rem
}
.main__boost-aside {
  display: flex;
  gap: .125rem;
  align-items: center
}
.main__boost-lightning {
  width: 3rem
}
.main__boost-image {
  width: 3rem;
  aspect-ratio: 48/45
}
.main__boost-counts {
  display: grid;
  gap: .1875rem
}
.main__boost-top {
  color: rgba(0,0,0,.8);
  text-shadow: 0 4px 4px rgba(0,0,0,.25);
  font-family: Roboto;
  font-size: 32px;
  line-height: 22px;
  letter-spacing: -.608px
}
.main__boost-bottom {
  color: #898989;
  font-family: Roboto;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -.38px
}
.main__boost-items {
  padding-top: .5625rem;
  padding-bottom: .5625rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 16px;
  background: rgba(235,235,235,.4);
  justify-items: center
}
.main__boost-img {
  width: 2.25rem;
  height: 2.25rem;
  aspect-ratio: 1/1
}
.main__energy {
  padding-left: .9375rem;
  padding-right: .9375rem;
  padding-bottom: 1.25rem
}
.earn__list {
  padding-left: .75rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  overflow-x: scroll;
  white-space: nowrap
}
.item-earn {
  align-items: center;
  padding: .75rem;
  border-radius: 16px;
  background: #2a2744;
  display: flex;
  gap: .75rem;
  min-width: 17.5rem
}
.item-earn__aside {
  flex: 0 0 3.375rem
}
.item-earn__image {
  width: 3.375rem;
  height: 3.375rem;
  aspect-ratio: 54/54
}
.item-earn__body {
  flex: 1 1 100%;
  display: flex;
  align-items: center
}
.item-earn__content {
  display: grid;
  gap: .625rem;
  flex: 1 1 100%
}
.item-earn__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -.266px
}
.item-earn__description {
  color: #8d8992;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -.228px
}
.item-earn__count {
  color: #8d8992;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -.228px
}
.item-list {
  padding-left: .75rem;
  display: grid;
  gap: 1rem;
  padding-right: .5rem
}
.item {
  align-items: center;
  padding: .75rem;
  border-radius: 16px;
  background: #2a2744;
  display: flex;
  gap: .75rem;
  min-width: 17.5rem
}
.item__aside {
  flex: 0 0 3.375rem
}
.item__body {
  flex: 1 1 100%;
  display: flex;
  align-items: center
}
.item__content {
  display: grid;
  gap: .625rem;
  flex: 1 1 100%
}
.item__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -.266px
}
.item__description {
  color: #8d8992;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -.228px
}
.item__count {
  color: #8d8992;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -.228px
}
.item__count--white {
  color: #fff;
  color: #e1e1e1;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -.304px
}
.item__shevron {
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 24/24
}
.invites__title {
  margin-bottom: 0
}
.invites__label {
  color: #5398e9;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -.266px;
  margin-bottom: 2.375rem
}
.invites__coints {
  color: rgba(255,255,255,.9);
  text-align: center;
  text-shadow: 2px 0 2.6px rgba(255,255,255,.3);
  font-size: 48px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -.4px;
  margin-bottom: 2.375rem
}
.invites__action-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .9375rem;
  align-items: center;
  gap: .3125rem
}
.invites__action-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -.38px
}
.invites__tap {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -.266px
}
.invites__persons {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.3125rem
}
.invites__person {
  display: flex;
  gap: .4375rem;
  align-items: center
}
.invites__ava {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 48/48;
  flex: 0 0 48px
}
.invites__name {
  flex: 1 1 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -.38px
}
.action {
  margin-bottom: 1rem;
  color: #5398e9;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -.532px;
  cursor: pointer;
  padding: 23px;
  border-radius: 8px;
  background: rgba(217,217,217,.16);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3125rem
}
.action__link-image {
  width: 3rem;
  height: 3rem
}
.invites__people {
  display: flex;
  gap: .625rem;
  align-items: center;
  position: relative
}
.invites__people:not(:last-child)::before {
  left: 64px;
  bottom: -25px;
  content: "";
  position: absolute;
  z-index: 1;
  width: .1875rem;
  border-radius: .1875rem;
  height: 30px;
  background: #c9c9c9
}
.invites__people-image {
  aspect-ratio: 128/128;
  width: 8rem;
  height: 8rem
}
.invites__people-body {
  text-align: center
}
.invites__people-title {
  color: rgba(255,255,255,.9);
  text-shadow: 0 2px 4px rgba(0,0,0,.25);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -.418px;
  margin-bottom: .4375rem
}
.invites__people-description {
  color: rgba(220,220,220,.9);
  text-shadow: 0 2px 4px rgba(0,0,0,.25);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -.304px
}
.copy-link {
  position: relative;
  display: flex;
  align-items: center;
  border: var(--primary-border);
  width: 100%;
  border-radius: var(--border-radius-primary);
  background-color: var(--bg-secondary)
}
.light .copy-link {
  background-color: var(--bg-primary)
}
.copy-link__button {
  flex: 0 0 2.375rem
}
.copy-link__button::before {
  width: 2.375rem;
  height: 2.375rem;
  display: grid;
  place-items: center;
  font-size: 1rem;
  background-color: #f5f5f7;
  color: var(--text-gray);
  border-right: var(--primary-border);
  border-top-left-radius: var(--border-radius-primary);
  border-bottom-left-radius: var(--border-radius-primary)
}
.copy-link__address {
  flex: 1 1 auto;
  font-size: .8125rem;
  color: var(--text-gray);
  padding: .5rem .75rem;
  display: block;
  border-top-right-radius: var(--border-radius-primary);
  border-bottom-right-radius: var(--border-radius-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.copy-link__success {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .3s ease
}
.success-open .copy-link__success {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.tippy-box[data-animation=scale][data-placement^=top] {
  -webkit-transform-origin: bottom;
  transform-origin: bottom
}
.tippy-box[data-animation=scale][data-placement^=bottom] {
  -webkit-transform-origin: top;
  transform-origin: top
}
.tippy-box[data-animation=scale][data-placement^=left] {
  -webkit-transform-origin: right;
  transform-origin: right
}
.tippy-box[data-animation=scale][data-placement^=right] {
  -webkit-transform-origin: left;
  transform-origin: left
}
.tippy-box[data-animation=scale][data-state=hidden] {
  -webkit-transform: scale(.5);
  transform: scale(.5);
  opacity: 0
}
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}
[data-tippy-root] {
  max-width: calc(100vw - 10px)
}
.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: visibility,opacity,-webkit-transform;
  transition-property: transform,visibility,opacity;
  transition-property: transform,visibility,opacity,-webkit-transform
}
.tippy-box[data-placement^=top]>.tippy-arrow {
  bottom: 0
}
.tippy-box[data-placement^=top]>.tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
  transform-origin: center top
}
.tippy-box[data-placement^=bottom]>.tippy-arrow {
  top: 0
}
.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom
}
.tippy-box[data-placement^=left]>.tippy-arrow {
  right: 0
}
.tippy-box[data-placement^=left]>.tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
  transform-origin: center left
}
.tippy-box[data-placement^=right]>.tippy-arrow {
  left: 0
}
.tippy-box[data-placement^=right]>.tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
  transform-origin: center right
}
.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54,1.5,.38,1.11)
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1
}
@media (min-width:93.125em) {
  .cn {
    font-size: 2rem
  }
}
@media (min-width:120em) {
  [class*=__container] {
    padding-left: .9375rem
  }
  [class*=__container] {
    padding-right: .9375rem
  }
  .cn {
    -webkit-column-gap: 1.6875rem;
    -moz-column-gap: 1.6875rem;
    column-gap: 1.6875rem
  }
  .cn::before {
    padding-top: .75rem
  }
  .cn::before {
    padding-bottom: .75rem
  }
  .cn__button svg {
    width: 1.6875rem
  }
  .main__boost {
    gap: .9375rem
  }
}
@media (max-width:20em) {
  [class*=__container] {
    padding-left: .9375rem
  }
  [class*=__container] {
    padding-right: .9375rem
  }
  .cn {
    font-size: 1.125rem
  }
  .cn {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .cn::before {
    padding-top: .375rem
  }
  .cn::before {
    padding-bottom: .375rem
  }
  .cn__button svg {
    width: 1.25rem
  }
  .main__boost {
    gap: .3125rem
  }
}
@media (min-width:20em)and (max-width:120em) {
  [class*=__container] {
    padding-left: clamp(.9375rem ,.9375rem + 0 ,.9375rem)
  }
  [class*=__container] {
    padding-right: clamp(.9375rem ,.9375rem + 0 ,.9375rem)
  }
  .cn {
    -webkit-column-gap: clamp(.9375rem ,.7875rem + .75vw ,1.6875rem);
    -moz-column-gap: clamp(.9375rem ,.7875rem + .75vw ,1.6875rem);
    column-gap: clamp(.9375rem ,.7875rem + .75vw ,1.6875rem)
  }
  .cn::before {
    padding-top: clamp(.375rem ,.3rem + .375vw ,.75rem)
  }
  .cn::before {
    padding-bottom: clamp(.375rem ,.3rem + .375vw ,.75rem)
  }
  .cn__button svg {
    width: clamp(1.25rem ,1.1625rem + .4375vw ,1.6875rem)
  }
  .main__boost {
    gap: clamp(.3125rem ,.1875rem + .625vw ,.9375rem)
  }
}
@media (min-width:61.99875em)and (max-width:93.125em) {
  .cn {
    font-size: clamp(1.375rem ,.1300951769rem + 2.0079514879vw ,2rem)
  }
}
@media (min-width:20em)and (max-width:61.99875em) {
  .cn {
    font-size: clamp(1.125rem ,.7083209322rem + 2.0833953391vw ,2rem)
  }
}
@media (any-hover:hover) {
  .cn__button:hover svg path {
    fill: #ee4e0a
  }
}